.data-selector {
  z-index: 1;
}

.modal {
  font-size: 12px;
  display: flex;
  margin: 50px auto;
  width: calc( 100% - 100px);
  height: inherit;
  padding: 6px;
  background-color: #E2E9F3;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  box-align: stretch;
  align-items: stretch;
  max-width: 800px;
}

.modal-close {
  float: right;
}

.tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.tab-panel {
  display: none;
  padding: 10px;
}

.tab {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.react-tabs {
  z-index: 10;
  background-color: white;

  :global &__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
  }

  &:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      left: -4px;
      right: -4px;
      bottom: -5px;
      background: #fff;
    }
  }
  :global &__tab-panel--selected {
    display: block;
  }
}

.dataset-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.dataset-list-element {
  cursor: pointer;
  margin-bottom: 20px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 5px 20px 5px 10px;
  width: 49%;
}

.dataset-list-element.element-selected {
  background-color: #eef0f7;
  border: 1px solid #aeb8d4;
  border-radius: 3px;
}

.dataset-list-element:hover {
  color: #72757B;
}

.upload-panel {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

  :global .form-group {
    margin-top: 1em;
  }

  label {
    width: 50px;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

.paste-panel {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

  :global .form-group {
    margin-top: 1em;
  }

  label {
    width: 50px;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }

  textarea {
    min-height: 200px;
    width: 90%;
  }
}

.url-panel {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

  :global .form-group {
    margin-top: 1em;
    clear: both;
  }

  label {
    width: 55px;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }

  button {
    margin-top: 0.5em;
  }
}

.dropzone-target {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px dashed #aaa;

  color: #888;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 20px;
}
