<div>
  <label class="prop-label" for="{{ id }}">
    <span class="name" title="{{ propName }}">{{ propName }}</span>
    <span ng-if="description"
      class="fa fa-info-circle"
      tooltips tooltip-size="small"
      tooltip-html="<strong>{{ propName }}</strong><div class='tooltip-content'>{{ description }}</div>"
      tooltip-side="right"></span>
  </label>
  <form class="inline-block" ng-switch="type + (enum !== undefined ? 'list' : '') ">
    <input id="{{ id }}" ng-switch-when="boolean" type="checkbox" ng-model="group[propName]" ng-hide="automodel.value"></input>
    <select id="{{ id }}" ng-switch-when="stringlist" ng-model="group[propName]" ng-options="choice for choice in enum track by choice" ng-hide="automodel.value"></select>
    <input id="{{ id }}" ng-switch-when="integer" ng-attr-type="{{ isRange ? 'range' : 'number'}}" ng-model="group[propName]" ng-model-options="{debounce: 200}" ng-attr-min="{{min}}" ng-attr-max="{{max}}" ng-hide="automodel.value" ng-attr-title="{{ isRange ? group[propName] : undefined }}"></input>
    <input id="{{ id }}" ng-attr-type="{{ role === 'color' ? 'color' : 'string' }}" ng-switch-when="string" ng-model="group[propName]" ng-model-options="{debounce: 500}" ng-hide="automodel.value"></input>
    <small ng-if="hasAuto"><label>Auto <input ng-model="automodel.value" type="checkbox"></input></label></small>
  </form>
</div>
