.popup-menu {
  padding: 5px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
}

textarea {
  font-size: 70%;
  margin-left: 4px;
}

h4 {
  font-size: 12px;
  margin: 5px;
}

.wildcard-menu {
  color: black;
}
