<span class="field-info">
  <span class="hflex full-width"><span class="caret"><i class="fa fa-caret-down" ng-if="showCaret" ng-click="caretAction"></i></span>
    <span class="type icon-small icon-type-{{typeNames[field.type]}}" ng-show="showType" title="{{typeNames[field.type]}}">
      {{field.type}}
    </span><!--
    --><span ng-if="field.aggr!=='count'" class="field-info-text"><span class="field-func" ng-if="field.aggr">{{ field.aggr }}</span><!--
      --><span class="field-func" ng-if="field.fn">{{ field.fn }}</span><!--
      --><span class="field-func" ng-if="field.bin">bin</span><!--

      --><span class="field-func-pl" ng-if="field.aggr || field.fn || field.bin">(</span><!--
      --><span class="field-name">{{ field.name }}</span><!--
      --><span class="field-func-pr" ng-if="field.aggr || field.fn || field.bin">)</span><!--
    --></span><!--
    --><span class="italic field-info-text field-name" ng-if="field.aggr==='count'">Number of Records</span>
  </span>
</span>