.field-info {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  line-height: 15px;
  height: 15px;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 1px 6px 1px 2px;
  font-size: 11px;
  border: 1px solid transparent;

  .caret {
    padding: 0 3px;
    flex-shrink: 0;
  }

  .type {
    margin-left: -2px;
    background-position-y: -2px;
    &.icon-type-time {
      background-position-y: 0px;
    }
  }

  .field-info-text {
    display: flex;
    flex-grow: 1;
  }

  .field-name {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.field-info .fa.fa-caret-down {
  flex-shrink:0;
  // visibility: hidden;
  border-radius: 3px;
  margin-top: 2px;
  margin-right: 2px;
  padding: 0 2px;

  &:hover {
    color: white;
    background-color: #999;
  }
}

.field-info.unselected {
  border: 1px dashed #ccc;
  background-color: #fafafa;
}

.field-info.selected {
  border: 1px solid #bbb;
  background-color: #eee;
  font-weight: 500;
}

.field-info.highlighted,
.field-list-item:hover .field-info {
  border: 1px solid #FDE59A;
  background-color: #FCEF00;
  font-weight: 500;
}


