<span class="field-name"><!-- empty comments between lines are for removing spaces between spans
  --><div class="type icon-small icon-type-{{typeNames[field.type]}}" ng-show="showType" title="{{typeNames[field.type]}}">
    {{field.type}}
  </div><!--
  --><span ng-if="field.aggr!=='count'"><span class="field-func" ng-if="field.aggr">{{ field.aggr }}</span><!--
    --><span class="field-func" ng-if="field.fn">{{ field.fn }}</span><!--
    --><span class="field-func" ng-if="field.bin">bin</span><!--
    --><span class="field-func-pl" ng-if="field.aggr || field.fn || field.bin">(</span><!--
    -->{{ field.name }}<!--
    --><span class="field-func-pr" ng-if="field.aggr || field.fn || field.bin">)</span><!--
  --></span><!--
  --><span class="italic" ng-if="field.aggr==='count'">Number of Records</span>
</span>