$rem-base: 16px;
$base-font-size: 12px;

// bower:scss
@import "foundation-sass/scss/normalize.scss";
@import "foundation-sass/scss/foundation.scss";
// endbower

body {
	background-color: $silver;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
label.inline,
select {
  margin: rem-calc(0 0 10 0);
}

fieldset {
	padding: rem-calc(0 10 10 0);
	margin: rem-calc(0 10);
	legend {
		margin-left: rem-calc(10);
	}
}

.card {
	margin-top: rem-calc(10);
	padding: rem-calc(15);
	background: $white;
	border-style: none;
}

$field-width: rem-calc(150);

.field {
	display: block;
	width: $field-width;
	background-color: $button-bg-color;
	color: $button-font-color;
    margin: rem-calc(0 0 10);
    text-decoration: none;
    text-align: center;
    padding: rem-calc(6.5);

    .remove-field {
    	float: right;
    	margin-right: rem-calc(10);
    	color: $white;
    }
}

.field-drop {
	width: $field-width;
	border: 1px solid $iron;
	.field {
		margin: 0;
	}
	.placeholder {
		width: $field-width;
		display: block;
		padding: rem-calc(6.5);
		font-weight: normal;
		color: $aluminum;
	}
}

.draggable {
	cursor: move;
}

.drop-active {
	border: 1px dashed red;
	background-color: #ffe4e1;
	.field {
		opacity: 0.5;
	}
}

.type-select {
	width: rem-calc(60);
}

.vgspec, .vlspec {
  min-height: 450px;
}
