// bower:scss
@import "foundation-sass/scss/normalize.scss";
@import "foundation-sass/scss/foundation.scss";
// endbower

body {
	background-color: $silver;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
label.inline,
select {
  margin: 0 0 0.5rem 0;
}

fieldset {
	padding: 0 0.75rem 0.5rem 0;
	margin: 0.75rem 0;
	.legend {
		padding-left: 1.5rem;
	}
}

.card {
	margin-top: 1rem;
	padding: 1rem;
	background: $white;
	border-style: none;
	box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
}
