$rem-base: 16px;
$base-font-size: 12px;

// bower:scss
@import "foundation-sass/scss/normalize.scss";
@import "foundation-sass/scss/foundation.scss";
// endbower
@import "vlui-common.scss";

body {
	background-color: #eee;
}
//
//input[type="file"],
//input[type="checkbox"],
//input[type="radio"],
//label.inline,
//select {
//  margin: rem-calc(0 0 10 0);
//}
//
//fieldset {
//	padding: rem-calc(0 10 10 0);
//	margin: rem-calc(0 10);
//	legend {
//		margin-left: rem-calc(10);
//	}
//}

.card {
	margin-top: 15px;
	padding: 10px;
	background: white;
	border-style: none;
}

.type-select {
	width: 60px;
}

.vgspec, .vlspec {
  min-height: 450px;
}

/** panes **/

.pane {
  padding: 10px;
}

.pane.data-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.encoding-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.vis-pane {
  flex-grow: 1;
}

#vis {
  @extend .persist-scroll;
  overflow: scroll;
}

/** shelves **/

.encoding-group {
  margin-bottom: 30px;
}

.shelf-group{
  border: 1px solid #ddd;
  border-radius: $pill-radius;
  margin-bottom: 5px;
}

.shelf-properties, .shelf-functions{
  padding: 5px;
  label.prop-label {
    display: inline-block;
    width: 40px;
    text-align: right;
    margin-right: 3px;
  }
}

.shelf{
  border-radius: $pill-radius;
  background-color: #ddd;
  width: 100%;
  display: flex;

  .shelf-label{
    @extend .noselect;
    display: block;
    width: 30px;
    margin: 0 0.5rem;
    line-height: $pill-height;
    cursor: pointer;
  }

  .field-drop {
    flex-grow: 1;
    width: auto;

    box-sizing: content-box;
    height: $pill-height;
    line-height: $pill-height;
    border: 1px solid $iron;
    .field {
      margin: 0;
    }
    .placeholder {
      display: block;
      padding: 0 0.5em;
      background-color: white;
      border-radius: $pill-radius;

      text-overflow: ellipsis;

      font-weight: normal;
      color: #aaa;
    }
  }

  .drop-active {
    border: 1px dashed red;
    background-color: #ffe4e1;
    .field-pill {
      opacity: 0.5;
    }
  }

  .field-pill {
    flex-grow: 1;
  }
}
