<div class="vl-plot-group card vflex">
  <div ng-if="showExpand || fieldSet || showBookmark || showToggle"
    class="vl-plot-group-header full-width no-shrink">
    <div class="right">
      <a ng-if="showMarkType"
        class="command disabled">
        <i class="fa fa-font"></i>
        <i class="fa fa-line-chart"></i>
        <i class="fa fa-area-chart"></i>
        <i class="fa fa-bar-chart"></i>
        <i class="fa fa-circle-o"></i>
      </a>
      <a ng-show="showSort && toggleSort.support(chart.vlSpec)"
        class="command" ng-click="toggleSort(chart.vlSpec)"
        >
        <i class="fa sort"
          ng-class="toggleSortClass(chart.vlSpec)"
        ></i>
      </a>
      <a ng-if="showTranspose"
        class="command" ng-click="transpose()"> <!-- transpose -->
        <i class="fa fa-refresh transpose"></i>
      </a>
      <a ng-if="showFilterNull"
        class="command" ng-click="toggleFilterNull(chart.vlSpec)"
        ng-class='{active: chart.vlSpec.cfg.filterNull.O}'>
        <i class="fa fa-filter"></i>
        <small>NULL</small>
      </a>
      <a ng-if="showBookmark"
        href="#"
        class="command"
        ng-click="Bookmarks.toggle(chart)"
        ng-class="{disabled: !chart.vlSpec.enc, bookmarked: Bookmarks.isBookmarked(chart.shorthand)}">
        <i class="fa fa-bookmark"></i>
      </a>
      <a ng-if="consts.debug && showDebug"
        class="command">
        <i class="fa fa-wrench"></i>
      </a>
      <a ng-if="showExpand"
        ng-click="expandAction()"
        class="command"
        >
        <i class="fa fa-expand"></i>
      </a>
    </div>
    <div class="field-set-info" ng-if="fieldSet">
      <field-info ng-repeat="field in fieldSet"
        field='field'
        show-type='true'
        ng-class="{
          selected: alwaysSelected || (isSelected && isSelected(field.name)),
          unselected: isSelected && !isSelected(field.name),
          highlighted: (highlighted||{})[field.name]
        }"
        ng-mouseover="(highlighted||{})[field.name] = true"
        ng-mouseout="(highlighted||{})[field.name] = false"
      ></field-info>
    </div>
    <div class="togglers" ng-if="showToggle">

    </div>
  </div>
  <div class="vl-plot-wrapper full-width vis-{{fieldSet.key}} flex-grow-1">
    <vl-plot vl-spec="chart.vlSpec"
      shorthand="chart.shorthand"
      config-set="{{configSet||'small'}}"
      max-height="330"
    ></vl-plot>
  </div>
  <div class="no-shrink dev-tool" ng-if="consts.debug && showDebug">
    <div class="right">
      <span ng-if="chart.score"
        tooltips tooltip-size="small"
        tooltip-content="{{chart.scoreFeatures}}">
        {{chart.score}}
      </span>
      <a class="command debug" ui-zeroclip zeroclip-model="chart.shorthand">Copy Vls</a>
      <a class="command debug" ui-zeroclip zeroclip-model="chart.vlSpec | compactJSON">Copy Vl</a>
      <a class="command debug" ui-zeroclip zeroclip-model="chart.vgSpec | compactJSON">Copy Vg</a>
      <a class="command debug"
        ng-href="{{ {type:'vl', encoding: chart.vlSpec} | reportUrl }}"
        target="_blank">Report Bad Render</a>
    </div>
    <!-- <div>
      <a href="#"
        ng-click="Bookmarks.toggle(chart.vlSpec)"
        ng-class="{disabled: !chart.vlSpec.enc}">
        <i class="fa fa-bookmark"></i>
        <span ng-if="Bookmarks.dict[chart.shorthand]"> Remove </span>
        <span ng-if="!Bookmarks.dict[chart.shorthand]"> Add </span>
        Bookmark
      </a>
    </div> -->
  </div>
</div>