<div class="vl-plot-group card vflex">
  <div ng-show="showExpand || fieldSet || showBookmark || showToggle"
    class="vl-plot-group-header full-width no-shrink">
    <div class="field-set-info" >
      <field-info ng-repeat="field in fieldSet"
        ng-if="fieldSet"
        field='field'
        show-type='true'
        ng-class="{
          selected: alwaysSelected || (isSelected && isSelected(field.name)),
          unselected: isSelected && !isSelected(field.name),
          highlighted: (highlighted||{})[field.name]
        }"
        ng-mouseover="(highlighted||{})[field.name] = true"
        ng-mouseout="(highlighted||{})[field.name] = false"
      ></field-info>
    </div>
    <div class="toolbox">
      <a ng-show="consts.debug && showDebug"
        class="command debug">
        <i class="fa fa-wrench"></i>
      </a>
      <div class="drop-container">
        <div class="popup-menu popup-command no-shrink dev-tool">
          <a class="command debug" ui-zeroclip zeroclip-model="chart.shorthand">Copy Vls</a>
          <a class="command debug" ui-zeroclip zeroclip-model="chart.vlSpec | compactJSON">Copy Vl</a>
          <a class="command debug" ui-zeroclip zeroclip-model="chart.vgSpec | compactJSON">Copy Vg</a>
          <a class="command debug"
            ng-href="{{ {type:'vl', encoding: chart.vlSpec} | reportUrl }}"
            target="_blank">Report Bad Render</a>
          <a ng-click="showFeature=!showFeature" class="command debug">{{chart.score}}</a>
          <div ng-repeat="f in chart.scoreFeatures track by f.reason">
            [{{f.score}}] {{f.reason}}
          </div>
        </div>
      </div>
      <a ng-if="showMarkType"
        class="command disabled">
        <i class="fa fa-font"></i>
        <i class="fa fa-line-chart"></i>
        <i class="fa fa-area-chart"></i>
        <i class="fa fa-bar-chart"></i>
        <i class="fa fa-circle-o"></i>
      </a>
      <a ng-if="showLog && chart.vlSpec && log.support(chart.vlSpec, 'x')"  class="command"
        ng-click="log.toggle(chart.vlSpec, 'x')"
        ng-class="{active: log.active(chart.vlSpec, 'x')}">
        <i class="fa fa-long-arrow-right"></i>
        <small>LOG X</small>
      </a>

      <a ng-if="showLog && chart.vlSpec && log.support(chart.vlSpec, 'y')"  class="command"
        ng-click="log.toggle(chart.vlSpec, 'y')"
        ng-class="{active: log.active(chart.vlSpec, 'y')}">
        <i class="fa fa-long-arrow-up"></i>
        <small>LOG Y</small>
      </a>

      <a ng-show="showSort && chart.vlSpec && toggleSort.support(chart.vlSpec, Dataset.stats)"
        class="command" ng-click="toggleSort(chart.vlSpec)"
        >
        <i class="fa sort"
          ng-class="toggleSortClass(chart.vlSpec)"
        ></i>
        <small ng-if="showLabel">Sort</small>
      </a>
      <a ng-if="showFilterNull && chart.vlSpec && toggleFilterNull.support(chart.vlSpec, Dataset.stats)"
        class="command" ng-click="toggleFilterNull(chart.vlSpec)"
        ng-class='{active: chart.vlSpec && chart.vlSpec.cfg.filterNull.O}'>
        <i class="fa fa-filter"></i>
        <small ng-if="showLabel">Filter</small>
        <small>NULL</small>
      </a>
      <a ng-if="showTranspose"
        class="command" ng-click="transpose()"> <!-- transpose -->
        <i class="fa fa-refresh transpose"></i>
        <small ng-if="showLabel">Transpose</small>
      </a>
      <a ng-if="showBookmark"
        class="command"
        ng-click="Bookmarks.toggle(chart)"
        ng-class="{disabled: !chart.vlSpec.enc, active: Bookmarks.isBookmarked(chart.shorthand)}">
        <i class="fa fa-bookmark"></i>
        <small ng-if="showLabel">Bookmark</small>
      </a>
      <a ng-if="showExpand"
        ng-click="expandAction()"
        class="command"
        >
        <i class="fa fa-expand"></i>
      </a>
    </div>
  </div>
  <div class="vl-plot-wrapper full-width vis-{{fieldSet.key}} flex-grow-1">
    <vl-plot vl-spec="chart.vlSpec"
      disabled="disabled"
      field-set-key="chart.fieldSetKey"
      is-in-list="isInList"
      shorthand="chart.shorthand"
      config-set="{{configSet||'small'}}"
      max-height="maxHeight"
      max-width="maxWidth"
      overflow="overflow"
      tooltip="tooltip"
      rescale="rescale"
      thumbnail="thumbnail"
      always-scrollable="alwaysScrollable"
    ></vl-plot>
  </div>
</div>
