
.vis-list-more, .vis-list-empty {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align:center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.vl-plot-group.wrapped-vl-plot-group {
  max-width: 520px;
  flex-grow: 1;
}

.vl-plot-group.row-vl-plot-group {
  max-width: 100%;


  box-sizing: border-box;
  &.selected {
    border: 3px solid #aaa;
    background: #ccc;
    .vis canvas{
      opacity: 0.85;
    }
  }
}

.vl-plot-group.full-vl-plot-group {
  max-width: 100%;
  .vl-plot-wrapper {
    max-height: none;
    .vis.fit .vega{
      margin-bottom: auto;
      margin-top: auto;
    }
  }
}

.vl-plot-group a.command{
  color: #aaa;

  &.debug {
    color: #72a386;
  }

  &.active {
    color: $link-color;
  }

  &.active:hover {
    color: $link-hover-color;
  }

  &:hover {
    color: #72C1D5;
  }

  .fa.fa-refresh.transpose {
    transform: rotateZ(135deg) scaleX(-1);
  }

  .fa.sort.sort-x {
   transform: rotateZ(270deg);
  }

  &.disabled, &.disabled:hover, &[disabled=disabled], [disabled=disabled]:hover {
    display: none;
  }

}



.vl-plot-group-header {
  margin-bottom: 5px;
  display: flex;
  .toolbox {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .field-set-info {
    flex-grow: 1;
  }
}

.vl-plot-wrapper {
  @extend .persist-scroll;
  min-height: 150px;
  max-height: 330px;
  min-width: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;

  .vis.fit {
    width:100%;
    display: flex;
    justify-content: center;
    .vega {
      align-self: flex-end;
    }
  }

  .vis.overflow {
    //cursor: pointer;
    width: 100%;
    overflow: hidden;
    &.scroll {
      @extend .persist-scroll;
      overflow: scroll;
    }
  }
}

// .vl-plot-group-group .dev-tool {
//   visibility: hidden;
// }

// .vl-plot-group-group:hover .dev-tool{
//   visibility:visible;
// }