<div class="vflex flex-grow-1" ng-if="Visrec.selectedCluster.length > 1">
  <div class="card no-right-margin no-shrink">
    <h3 class="no-bottom-margin">Variations Within Cluster</h3>
  </div>

  <div class="flex-grow-1 scroll-y">
    <div class="hflex flex-wrap">
      <vis-list-item
        ng-repeat="subcluster in Visrec.selectedCluster"
        ng-if="$index !== 0"
        chart="subcluster[0]"
        show-expand="true"
        expand-action=""
      >
      </vis-list-item>
    </div>
  </div>
</div>