.view-pane-specific {
  background: rgba(255,255,255,.6);
  height: 100%; // TODO: remove this once we have related views
}

.view-pane-gallery {
  background: #C6E5E7;
  height: 100%; // TODO: remove this once we have related views
}
