.view-pane {
  overflow: scroll;

  // Absolute positon relative to Pane wrapper from `react-split-pane`
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.view-pane-specific, .view-pane-related-views {
  background: rgba(255,255,255,.6);
}

.view-pane-related-views {
  margin-top: 20px;
}

.view-pane-gallery {
  @extend .view-pane;
  background: #C6E5E7;
  height: 100%; // TODO: remove this once we have related views
}
