.vis-list-header {
  .desc {
    font-weight: bold;
  }
}

.vis-list {
  align-content: flex-start;
  margin-bottom: 20px;
}

// .vis-list .encoding-variations {
//   width: 100%;
//   max-width: 100%;
//   flex-grow: 1;

//   margin: 3px 3px 0 0;
//   padding: 8px;
//   border: 2px solid #666;
//   background-color: white;

//   max-height: 500px;

//   position: relative;
// }

