.vis-list {
  margin-top: -3px;
  align-content: flex-start;
}

// .vis-list .encoding-variations {
//   width: 100%;
//   max-width: 100%;
//   flex-grow: 1;

//   margin: 3px 3px 0 0;
//   padding: 8px;
//   border: 2px solid #666;
//   background-color: white;

//   max-height: 500px;

//   position: relative;
// }

.vis-list-more {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align:center;
  font-size: 1.2em;
}

.vis-list-item-group {
  max-width: 520px;
  flex-grow: 1;
}

.vis-list-item-header {
  margin-bottom: 5px;
}

.vis-list-item-header .bookmarked {
  color: #EE0000;
}

.vis-list-item {
  @extend .persist-scroll;
  min-height: 150px;
  max-height: 330px;
  min-width: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;

  .vis.fit {
    width:100%;
    display: flex;
    justify-content: center;
    .vega {
      overflow-x: scroll;
      align-self: flex-end;
    }
  }

  .vis.overflow {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    &.scroll {
      @extend .persist-scroll;
      overflow: scroll;
    }
  }
}

// .vis-list-item-group .dev-tool {
//   visibility: hidden;
// }

// .vis-list-item-group:hover .dev-tool{
//   visibility:visible;
// }
