$vis-list-margin: 5px;

.vis-list-header {
  margin: $vis-list-margin $vis-list-margin 0;
  background-color: #D7E0EA;
  .description {
    font-size: 16px;
    font-weight: bold;
  }
  .explanation {
    color: #333;
  }
  .field-info {
    margin-top: -6px;
  }
}

.vis-list {
  margin-left: $vis-list-margin;
  margin-right: $vis-list-margin - 3px; // each item in .vis-list already have margin-right: 3px
  margin-bottom: 20px;
  align-content: flex-start;
  background-color: #ECF1F7;
}

// .vis-list .encoding-variations {
//   width: 100%;
//   max-width: 100%;
//   flex-grow: 1;

//   margin: 3px 3px 0 0;
//   padding: 8px;
//   border: 2px solid #666;
//   background-color: white;

//   max-height: 500px;

//   position: relative;
// }
