$exclude-color: #F2BFBF;
$item-color: #FFFFFF;
$selected-color: black;

.field-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: $item-color;

  input[type=checkbox] {
    flex-shrink: 0;
    margin-top: 3px;
    margin-right: 3px;
  }

  .selection {
    color: #ddd;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 2px;
    &.fa-minus-circle {
      color: $exclude-color; //excluded
    }
  }

  .field-info {
    margin-right: 0;
  }

  .type-caret.active {
    color: $item-color;
  }

  .selected {
    color: $selected-color;
    .type-caret {
      color: $selected-color;
    }
  }

  .highlighted {
    color: $selected-color;
    .type-caret {
      color: $selected-color;
    }
  }
}

.inclusion a {
  .fa-minus-circle {
    color: $exclude-color;
  }
}

.inclusion a.inactive, .inclusion a.inactive .fa-minus-circle {
  color: #aaa;
  &:hover {
    color: #125369;
  }
}
