<div class="field-list-item full-width"
  ng-mouseover="Fields.highlighted[field.name] = true"
  ng-mouseout="Fields.highlighted[field.name] = false"
>

  <i class="fa selection clickable"
    ng-class="{'fa-check-square': Fields.isSelected(field.name), 'fa-square': Fields.isSelected(field.name) === undefined, 'fa-minus-circle': Fields.isSelected(field.name) === false}"
    ng-click="Fields.toggleSelected(field.name)"
    ng-dblclick="consts.enableExclude && Fields.setSelected(field.name, false)"
  ></i>

  <field-info
    field="field"
    show-type="true"
    show-caret="true"
    disable-count-caret="true"
    show-info="true"
    popup-content="popupContent"
    action="Fields.toggleSelected(field.name)"
    class="flex-grow-1 list-item clickable"
    ng-class="{selected: Fields.isSelected(field.name), excluded: Fields.isSelected(field.name)===false, highlighted: Fields.highlighted[field.name]}"
    ></field-info>

  <div class="drop-container">
    <div class="popup-menu popup-functions" ng-show="(field.type!=='ordinal' && field.aggregate!=='count') || consts.enableExclude">
      <div style="width:150px">
        <function-list field="Fields.fields[field.name]"></function-list>
      </div>

      <div class="inclusion" ng-show="consts.enableExclude">
        <h4>Field</h4>
        <div>
          <a ng-class="{inactive: Fields.isSelected(field.name) !== true}"
            ng-click="Fields.setSelected(field.name, true)">
            <i class="fa fa-check-square"></i> Include
          </a>
        </div>
        <div>
          <a ng-class="{inactive: Fields.isSelected(field.name) !== undefined}"
            ng-click="Fields.setSelected(field.name, undefined)">
            <i class="fa fa-square"></i> Optional
          </a>
        </div>
        <div>
          <a ng-class="{inactive: Fields.isSelected(field.name) !== false}"
            ng-click="Fields.setSelected(field.name, false)">
            <i class="fa fa-minus-circle"></i> Exclude
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
