<div class="field-list-item full-width"
  ng-mouseover="Fields.highlighted[fieldDef.field] = true"
  ng-mouseout="Fields.highlighted[fieldDef.field] = false"
>

  <i class="fa selection clickable"
    ng-class="{'fa-check-square': Fields.isSelected(fieldDef.field), 'fa-square': Fields.isSelected(fieldDef.field) === undefined, 'fa-minus-circle': Fields.isSelected(fieldDef.field) === false}"
    ng-click="Fields.toggleSelected(fieldDef.field)"
    ng-dblclick="consts.enableExclude && Fields.setSelected(fieldDef.field, false)"
  ></i>

  <field-info
    field-def="fieldDef"
    show-type="true"
    show-caret="true"
    disable-count-caret="true"
    show-info="true"
    popup-content="popupContent"
    action="Fields.toggleSelected(fieldDef.field)"
    class="flex-grow-1 list-item clickable"
    ng-class="{selected: Fields.isSelected(fieldDef.field), excluded: Fields.isSelected(fieldDef.field)===false, highlighted: Fields.highlighted[fieldDef.field]}"
    ></field-info>

  <div class="drop-container">
    <div class="popup-menu popup-functions" ng-show="(fieldDef.type!=='ordinal' && fieldDef.aggregate!=='count') || consts.enableExclude">
      <div style="width:150px">
        <function-list field-def="Fields.fields[fieldDef.field]"></function-list>
      </div>

      <div class="inclusion" ng-show="consts.enableExclude">
        <h4>Field</h4>
        <div>
          <a ng-class="{inactive: Fields.isSelected(fieldDef.field) !== true}"
            ng-click="Fields.setSelected(fieldDef.field, true)">
            <i class="fa fa-check-square"></i> Include
          </a>
        </div>
        <div>
          <a ng-class="{inactive: Fields.isSelected(fieldDef.field) !== undefined}"
            ng-click="Fields.setSelected(fieldDef.field, undefined)">
            <i class="fa fa-square"></i> Optional
          </a>
        </div>
        <div>
          <a ng-class="{inactive: Fields.isSelected(fieldDef.field) !== false}"
            ng-click="Fields.setSelected(fieldDef.field, false)">
            <i class="fa fa-minus-circle"></i> Exclude
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
