<div class="shelf-group">
  <div class="shelf" ng-class="{disabled: !schema.supportedMarktypes[marktype]}">
    <div class="shelf-label"
      ng-class="{expanded: propsExpanded}">
      <i class="fa fa-caret-down"></i>
      {{ encType }}
    </div>
    <!--<field-drop field-def="enc[encType]" types="schema.properties.type.enum"></field-drop>-->
    <div class="field-drop"
     ng-model="pills[encType]"
     data-drop="schema.supportedMarktypes[marktype]"
     jqyoui-droppable="{onDrop:'fieldDropped'}"
     data-jqyoui-options="{activeClass: 'drop-active'}">

      <field-info ng-show="enc[encType].name"
        ng-class="{expanded: funcsExpanded}"
        field="enc[encType]"
        show-type="true"
        show-caret="true"
        disable-count-caret="true"
        popup-content="fieldInfoPopupContent"
        show-remove="true"
        remove-action="removeField()"
        class="selected draggable full-width"

        data-drag="true"
        ng-model="pills[encType]"
        jqyoui-draggable="{onStart: 'fieldDragStart', onStop:'fieldDragStop'}"
        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
        >
      </field-info>

      <span class="placeholder" ng-if="!enc[encType].name">
        drop a field here
      </span>
  </div>
  </div>
  <div class="drop-container">
    <div class="popup-menu shelf-properties shelf-properties-{{encType}}">
      <div>
        <property-editor ng-show="schema.properties.legend" id="encType + 'legend'" type="schema.properties.legend.type" enum="schema.properties.legend.enum" prop-name="'legend'" group="enc[encType]"></property-editor>
      </div>
      <div>
        <property-editor ng-show="schema.properties.value" id="encType + 'value'" type="schema.properties.value.type" enum="schema.properties.value.enum" prop-name="'value'" group="enc[encType]"></property-editor>
      </div>

      <div ng-repeat="group in ['scale', 'text', 'axis', 'bin']"
           ng-show="schema.properties[group]">
        <h4>{{ group }}</h4>
        <div ng-repeat="(propName, scaleProp) in schema.properties[group].properties"
             ng-init="id = encType + group + $index"
             ng-show="scaleProp.supportedTypes ? scaleProp.supportedTypes[enc[encType].type] : true">
          <property-editor id="id" type="scaleProp.type" enum="scaleProp.enum" prop-name="propName" group="enc[encType][group]"></property-editor>
        </div>
      </div>
    </div>
    <div class="popup-menu shelf-functions shelf-functions-{{encType}}">
      <div class="mb5">
        <h4>Types</h4>
        <span ng-if="allowedTypes.length<=1">
          {{typeNames[enc[encType].type]}}
        </span>
        <label class="type-label"
          ng-if="allowedTypes.length>1"
          ng-repeat="type in allowedTypes">
          <input type="radio" ng-value="type" ng-model="enc[encType].type">
          {{typeNames[type]}}
        </label>
        <!-- <select class="type-select" ng-model="enc[encType].type"
                ng-options="type as typeNames[type] for type in schema.properties.type.enum track by type">
        </select> -->
      </div>

      <function-select field="enc[encType]" enc-type="encType" schema="schema"></function-select>

      <!-- <a class="remove-field" ng-click="removeField()">Remove Field</a> -->
    </div>
  </div>
</div>
