<div class="flex-root vflex full-width full-height">
  <div class="full-width no-shrink">
    <div class="card no-right-margin no-top-margin">
      <div class="right">
        <div class="controls">
          <a href="#"
            ng-click="Bookmarks.toggle(Spec.vlSpec)"
            ng-class="{disabled: !Spec.vlSpec.enc}">
            <i class="fa fa-bookmark"></i>
            <span ng-if="Bookmarks.dict[Spec.shorthand]"> Remove </span>
            <span ng-if="!Bookmarks.dict[Spec.shorthand]"> Add </span>
            Bookmark
          </a>
          <a class="disabled">
            Bookmarks ({{Bookmarks.list.length}})
          </a>
          <a href="#" ng-click="chron.undo()" ng-class="{disabled: !canUndo}"><i class="fa fa-undo"></i> Undo</a>
          <a href="#" ng-click="chron.redo()" ng-class="{disabled: !canRedo}"><i class="fa fa-repeat"></i> Redo</a>
        </div>
        <a href="http://bit.ly/visrecissues" target="_blank" class="command debug">Known Issues</a>
        <a ng-href="https://docs.google.com/forms/d/1xKs-qGaLZEUfbTmhdmSoS13OKOEpuu_NNWE5TAAml_Y/viewform?entry.114212540&entry.1245199477={{Spec.vlSpec | compactJSON | encodeURI}}" target="_blank" class="command debug">Report an issue</a>
        <a href="#" class="command debug" ng-click="showDevPanel = !showDevPanel">Dev Pane</a>
      </div>
      <h1>ShelfViz</h1>
    </div>
    <alert-messages></alert-messages>
  </div>
  <div class="hflex full-width main-panel grow-1">
    <div class="pane data-pane noselect">
      <div class="card abs-100">
        <div class="right">
          <dataset-selector></dataset-selector>
        </div>
        <h2>Data</h2>
        <null-filter-directive></null-filter-directive>
        <schema-list></schema-list>
      </div>
    </div>
    <div class="pane encoding-pane">
      <shelves></shelves>
    </div>

    <div class="pane vis-pane">
      <div class="card scroll-xy abs-100 no-right-margin">
        <vl-plot vg-spec="Spec.vgSpec" encoding="Spec.encoding"></vl-plot>
      </div>
    </div>
  </div>
  <div class="hflex full-width dev-panel" ng-show="showDevPanel">
    <div class="pane config-pane">
      <div class="card scroll-y  abs-100">
        <configuration-editor></configuration-editor>
      </div>
    </div>
    <div class="pane vl-pane ">
      <vl-spec-editor></vl-spec-editor>
    </div>
    <div class="pane vg-pane">
      <vg-spec-editor></vg-spec-editor>
    </div>
  </div>
</div>