<div ng-controller="MainCtrl" class="voyager flex-root vflex full-width full-height">
  <div class="full-width no-shrink">
    <div class="card top-card no-right-margin no-top-margin">
      <div class="hflex">
        <!-- TODO make this a h1 with text offset -->
        <div id="logo"></div>

        <div class="pane">
          <div class="controls">
            <a ng-show="Bookmarks.isSupported" class="command" ng-click="showModal('bookmark-list')">
              <i class="fa fa-bookmark"></i> Bookmarks ({{Bookmarks.length}})
            </a>
            <a class="command" ng-click="chron.undo()" ng-class="{disabled: !canUndo}">
              <i class="fa fa-undo"></i> Undo
            </a>
            <a class="command" ng-click="chron.redo()" ng-class="{disabled: !canRedo}">
              <i class="fa fa-repeat"></i> Redo
            </a>
          </div>
        </div>
        <div class="absolute-top-right">
          <a href="https://idl.cs.washington.edu/" target="_blank" class="idl-logo"></a>
        </div>
      </div>
    </div>
    <alert-messages></alert-messages>
  </div>
  <div class="hflex full-width main-panel grow-1">
    <div class="pane data-pane noselect">
      <div class="card data-card abs-100 no-top-margin no-right-margin">
        <div class="sidebar-header">
          <h2>Data</h2>
          <dataset-selector class="right" ng-if="!embedded"></dataset-selector>
          <div class="current-dataset" title="{{Dataset.currentDataset.name}}">
            <i class="fa fa-database"></i>
            <span class="dataset-name">{{Dataset.currentDataset.name}}</span>
          </div>
        </div>
        <field-list></field-list>
        <div id="footer">
          <ul class="menu">
            <li>
              <a ng-click="showModal('welcome-modal')">About</a>
            </li>
            <li ng-if="consts.debug">
              <a class="debug" ng-click="toggleDevPanel()">Debug</a>
            </li>
            <li ng-if="consts.debug">
              <a ng-href="{{ {fields: Fields.fields} | reportUrl }}" target="_blank" class="debug">Report an issue</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pane vis-list-pane">
      <welcome-modal ng-if="!embedded"></welcome-modal>
      <vis-list></vis-list>
    </div>
  </div>
  <div class="hflex full-width dev-panel" ng-show="showDevPanel">
    <div class="pane">
      <label><input type="checkbox" ng-model="consts.debugInList"/> Show Debug In List</label>
    </div>
  </div>

  <bookmark-list
    highlighted="Fields.highlighted">
  </bookmark-list>

  <dataset-modal></dataset-modal>
  <encoding-variations></encoding-variations>
</div>
