<div ng-controller="MainCtrl" class="voyager flex-root vflex full-width full-height">
  <div class="full-width no-shrink">
    <div class="card top-card no-right-margin no-top-margin">
      <div class="hflex">
        <!-- TODO make this a h1 with text offset -->
        <img id="logo" src="../assets/images/logo.png"></img>

        <div class="pane">
          <div class="controls">
            <a ng-show="Bookmarks.isSupported" class="command" ng-click="showModal('bookmark-list')">
              <i class="fa fa-bookmark"></i> Bookmarks ({{Bookmarks.length}})
            </a>
            <a class="command" ng-click="chron.undo()" ng-class="{disabled: !canUndo}">
              <i class="fa fa-undo"></i> Undo
            </a>
            <a class="command" ng-click="chron.redo()" ng-class="{disabled: !canRedo}">
              <i class="fa fa-repeat"></i> Redo
            </a>
          </div>
        </div>
        <div class="absolute-top-right">
          <a href="https://idl.cs.washington.edu/" target="_blank" class="idl-logo"></a>
        </div>
      </div>
    </div>
    <alert-messages></alert-messages>
  </div>
  <div class="hflex full-width main-panel grow-1">
    <div class="pane data-pane noselect">
      <div class="card data-card abs-100 no-top-margin no-right-margin">
        <div class="right">
          <dataset-selector ng-if="!embedded"></dataset-selector>
        </div>
        <h2>Data</h2>
        <field-list></field-list>
        <div id="footer">
          <ul class="menu">
            <li>
              <a ng-click="startTour()">Show Tour</a>
            </li>
            <li ng-if="consts.debug">
              <a class="debug" ng-click="toggleDevPanel();">Debug</a>
            </li>
            <li ng-if="consts.debug">
              <a ng-href="{{ {fields: Fields.fields} | reportUrl }}" target="_blank" class="debug">Report an issue</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pane vis-list-pane">
      <welcome-modal ng-if="!embedded"></welcome-modal>
      <vis-list></vis-list>
    </div>
  </div>
  <div class="hflex full-width dev-panel" ng-show="showDevPanel">
    <div class="pane">
      <label><input type="checkbox" ng-model="consts.debugInList"/> Show Debug In List</label>
    </div>
  </div>

  <modal id="bookmark-list" ng-if="Bookmarks.isSupported">
    <bookmark-list
      highlighted="Fields.highlighted">
    </bookmark-list>
  </modal>
  <dataset-modal></dataset-modal>
  <tour step="currentStep">
    <virtual-step
      tourtip="Data Voyager works collaboratively with you to explore your data. You can tell it what fields to start visualizing by selecting them here. Data Voyager will use these fields as a starting point for more recommendations."
      tourtip-next-label="Next"
      tourtip-offset-vertical="50"
      tourtip-placement="right"
      tourtip-element=".schema"
      tourtip-step="0" />
    <virtual-step
      tourtip="Load other data here. You can look at the provided sample data or load your own from a CSV or URL."
      tourtip-next-label="Next"
      tourtip-placement="bottom"
      tourtip-offset-horizontal="-20"
      tourtip-element=".select-data"
      tourtip-step="1" />
    <virtual-step
      tourtip="Visualization recommendations are presented to you based on your data and the fields you are interested in. Data Voyager provides smart combinations of the variables in your data so you can quickly get a broad sense of what it looks like."
      tourtip-next-label="Next"
      tourtip-placement="right"
      tourtip-element=".vl-plot-wrapper"
      tourtip-step="2" />
    <virtual-step
      tourtip="The names above each visualization show you which fields or transformations of fields are being visualized."
      tourtip-next-label="Next"
      tourtip-placement="right"
      tourtip-element=".vl-plot-group-header .field-set-info"
      tourtip-offset-vertical="-30"
      tourtip-offset-horizontal="-20"
      tourtip-step="3" />
    <virtual-step
      tourtip="Modify the organization of the chart or expand it to see different visualization types for the same data. Bookmarking insightful visualizations lets you return to them again later."
      tourtip-next-label="Done"
      tourtip-placement="right"
      tourtip-element=".vl-plot-group-header .toolbox"
      tourtip-offset-vertical="-30"
      tourtip-offset-horizontal="-10"
      tourtip-step="4" />
  </tour>
</div>
