.paste-data {
  p {
    width: 300px;
  }
  .form-group {
    margin-top: 1em;
    label {
      width: 50px;
      display: block;
      float: left;
      text-align: right;
      font-weight: bold;
      margin-right: 10px;
    }
    input {
      width: 230px;
    }
    textarea {
      width: 290px;
      min-height: 300px;
    }
  }
  button {
    margin-top: 1.5em;
    line-height: 15px;
  }
}