<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="vleApp">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">
              Vegalite Editor
            </a>
          </h1>
        </li>
      </ul>
    </nav>

    <div class="row full-width">
      <div class="small-3 columns">

        <div class="card">
          <form ng-controller="DatasetsCtrl">
            <div class="row">
              <div class="small-3 columns">
                <label class="right inline" for="datasetSelect">Dataset</label>
              </div>
              <div class="small-9 columns">
                <select ng-model="dataset" ng-options="dataset.name for dataset in datasets"></select>
              </div>
            </div>
          </form>
        </div>

        <div class="card">
          <form ng-controller="ConfigCtrl">
            <label>
              <input class="form-control" type="checkbox" ng-model="Config.useServer"> use server
            </label>

            <p>{{ Config }}</p>
          </form>
        </div>

        <div class="card">
          <h4>Schema</h4>
          <div class="schema" ng-controller="DatasetsCtrl">
            <div class="field" ng-repeat="field in Dataset.schema" ng-model="field" data-drag="true" jqyoui-draggable="{placeholder: 'keep'}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">{{ field }}</div>
          </div>
        </div>
      </div>

      <div class="small-3 columns" ng-controller="EncodingCtrl">
        <div class="card">
          <select ng-model="encoding.marktype" ng-options="type for type in schema.properties.marktype.enum"></select>
        </div>

        <!-- FIXME: can angular sort objects? -->
        <div class="card" ng-repeat="encType in encTypes" ng-init="fieldDef=schema.properties.enc.properties[encType]">
          <div class="row">
            <div class="small-2 column">
              <h4 class="right">{{ encType }}</h4>
            </div>

            <div class="small-4 column">
              <div class="field-drop" ng-model="encoding.enc[encType].name" data-drop="true" jqyoui-droppable>
                <div class="field" ng-if="encoding.enc[encType].name" ng-model="encoding.enc[encType].name" data-drag="false">{{ encoding.enc[encType].name }}</div>
                <span class="placeholder" ng-if="!encoding.enc[encType].name">drop a field here</span>
              </div>
            </div>

            <div class="small-6 column">
              <form>
                <div class="row" ng-init="id = encType + 'type'">
                  <div class="small-6 columns">
                  <label for="{{ id }}" class="right inline">Type</label>
                  </div>
                  <div class="small-6 columns">
                    <select id="{{ id }}" ng-model="encoding.enc[encType].type" ng-options="type for type in schema.properties.enc.properties[encType].properties.type.enum track by type"></select>
                  </div>
                </div>
              </form>
            </div>

          </div>

          <!-- TODO: Binning doesn't work -->
          <select ng-model="encoding.enc[encType].agg" ng-options="func for func in schema.properties.enc.properties[encType].properties.aggr.supportedEnums[encoding.enc[encType].type]"></select>

          <form>
            <fieldset ng-repeat="group in ['scale', 'text']" ng-show="schema.properties.enc.properties[encType].properties[group]">
              <legend>{{ group }}</legend>
              <div class="row" ng-repeat="(propName, scaleProp) in schema.properties.enc.properties[encType].properties[group].properties" ng-init="id = mapping.name + type + group + $index">
                <div class="small-3 columns" ng-hide="scaleProp.type === 'boolean'">
                  <label class="right inline" for="{{ id }}">{{ propName }}</label>
                </div>
                <div class="small-9 columns" ng-switch="scaleProp.type + (scaleProp.enum !== undefined ? 'list' : '') ">
                  <span ng-switch-when="boolean">
                    <input id="{{ id }}" type="checkbox" ng-model="encoding.enc[encType][group][propName]"></input>
                    <label for="{{ id }}">{{ propName }}</label>
                  </span>
                  <select id="{{ id }}" ng-switch-when="stringlist" ng-model="encoding.enc[encType][group][propName]" ng-options="choice for choice in scaleProp.enum track by choice"></select>
                  <input id="{{ id }}" type="number" ng-switch-when="integer" ng-model="encoding.enc[encType][group][propName]"></input>
                  <input id="{{ id }}" type="string" ng-switch-when="string" ng-model="encoding.enc[encType][group][propName]"></input>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>

      <div class="small-6 columns">
        <div class="card">
          <div id="vlspec" class="code"></div>
        </div>
        <div class="card">
          <div id="vis"></div>
        </div>
      </div>

    </div>  <!-- end full width -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/vendor/vega.js"></script>
    <script src="scripts/vendor/vegalite.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/datasets.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/dataset.js"></script>
    <script src="scripts/controllers/config.js"></script>
    <script src="scripts/controllers/encoding.js"></script>
    <script src="scripts/services/encoding.js"></script>
    <script src="scripts/filters/scaletype.js"></script>
    <!-- endbuild -->
</body>
</html>
