<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="vleApp">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            Vegalite Editor
          </h1>
        </li>
      </ul>
    </nav>

    <div class="row full-width">
      <div class="small-3 columns">
        <form ng-controller="DatasetsCtrl">
          <label for="datasetSelect">Dataset
            <select ng-model="myDataset" ng-options="dataset.name for dataset in datasets"></select>
          </label>
        </form>

        <form ng-controller="ConfigCtrl">
          <label>
            <input class="form-control" type="checkbox" ng-model="Config.useServer"> use server
          </label>

          <p>{{ Config }}</p>
        </form>

        <h3>Schema</h3>
        <div class="panel">
          <ul class="no-bullet" ng-controller="DatasetsCtrl">
            <li ng-repeat="(name, field) in Dataset.schema">{{ name }} {{field.type}}</li>
          </ul>
        </div>
      </div>

      <div class="small-3 columns" ng-controller="EncodingCtrl">
        <h3>Mapping</h3>

        <div ng-repeat="mapping in encoding">
          <h4>{{mapping.name}}</h4>
          <div>drop here</div>

          <form>
            <label>Choose Type</label>
            <span ng-repeat="(type, _) in mapping.config" ng-init="id = type + $index">
              <input id="{{id}}" type="radio" name="typeRadio" ng-model="mapping.type" value="{{type}}">
              <label for="{{ id }}">{{ type }}</label>
            </span>
          </form>

          <form>
            <fieldset ng-repeat="(group, configs) in mapping.config[mapping.type]">
              <legend>{{ group }}</legend>
              <div class="row" ng-repeat="config in configs" ng-init="id = mapping.name + type + group + $index">
                <div class="small-3 columns" ng-hide="config.type === 'bool'">
                  <label class="right inline" for="{{ id }}">{{ config.name }}</label>
                </div>
                <div class="small-9 columns" ng-switch="config.type">
                  <span ng-switch-when="bool">
                    <input id="{{ id }}" type="checkbox" ng-model="config.value"></input>
                    <label for="{{ id }}">{{ config.name }}</label>
                  </span>
                  <select id="{{ id }}" ng-model="myDataset" ng-switch-when="choice" ng-options="choice for choice in config.choices track by choice" ng-model="config.value"></select>
                  <input id="{{ id }}" type="number" ng-switch-when="integer" ng-model="config.value"></input>
                  <input id="{{ id }}" type="text" ng-switch-when="string" ng-model="config.value"></input>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>

      <div class="small-6 columns">
        image
      </div>

    </div>  <!-- end full width -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/vendor/vega.js"></script>
    <script src="scripts/vendor/vegalite.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/datasets.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/dataset.js"></script>
    <script src="scripts/controllers/config.js"></script>
    <script src="scripts/services/marks.js"></script>
    <script src="scripts/controllers/encoding.js"></script>
    <script src="scripts/services/encoding.js"></script>
    <!-- endbuild -->
</body>
</html>
