.plot-base {
  background-color: white;
  text-align: center;
  padding: 8px;
}

.plot {
  @extend .plot-base;
  overflow: hidden;
  padding-right: 11px;
}

.plot-scroll {
  @extend .plot-base;
  overflow: auto;
  padding-right: 0px;
}

.plot-info {
  text-align: left;
}

.plot-field-info {
  display: inline-block;
  margin-right: 4px;
}

.plot-command {
  float: right;
}

.specify-button {
  transform: scaleX(-1);
}
