.plot-base {
  background-color: white;
  text-align: center;
}

.plot {
  @extend .plot-base;
  overflow: hidden;
  padding-right: 11px;
}

.plot-scroll {
  @extend .plot-base;
  overflow: auto;
  padding-right: 0px;
}
