<div class="schema">
  <div class="field"
   ng-repeat="field in Dataset.dataschema | orderBy : Dataset.fieldOrder"
   ng-init="pill = {name:field.name, type: field.type, aggr: field.aggr};">
    <field-info field="field"
      show-type="true"
      show-info="true"
      class="pill draggable full-width"
      ng-model="pill"
      data-drag="true"
      jqyoui-draggable="{placeholder: 'keep', onStart: 'fieldDragStart'}"
      data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
      >
    </field-info>
  </div>
</div>
