<div class="schema">
  <div class="field"
       ng-repeat="field in dataschema"
       ng-init="fieldDef = {name:field.name, type: field.type};">
    <div class="type icon-type-{{typeNames[field.type]}}" title="{{typeNames[field.type]}}">
      {{field.type}}
    </div>
    <div class="field-pill draggable"
         ng-model="fieldDef"
         data-drag="true"
         jqyoui-draggable="{placeholder: 'keep', onStart: 'fieldDragStart'}"
         data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
      <span class="field-name">{{ field.name }}</span>
    </div>
  </div>
</div>
