.plot-list {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}

.load-more {
  display: block;
  background: #e2e9f3;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}
