<div class="vis" id="vis-{{visId}}"
  ng-class="{
    fit: !alwaysScrollable && !overflow && (maxHeight && (!height || height <= maxHeight)) && (maxWidth && (!width || width <= maxWidth)),
    overflow: alwaysScrollable  || overflow || (maxHeight && height && height > maxHeight) || (maxWidth && width && width > maxWidth),
    scroll: alwaysScrollable || unlocked || hoverFocus
  }"
  ng-mousedown="unlocked=!thumbnail"
  ng-mouseup="unlocked=false"
  ng-mouseover="mouseover()"
  ng-mouseout="mouseout()"
>
  <div class="vis-tooltip" ng-show="tooltipActive">
    <table>
      <tr ng-repeat="p in data">
        <td class="key">{{p[0]}}</td>
        <td class="value">
          <b ng-if="p.isNumber">{{p[1]| number: 2}}</b>
          <b ng-if="!p.isNumber">{{p[1]}}</b>
        </td>
      </tr>
    </table>
  </div>
</div>
