<div class="card">
  <a class="right small">Clear</a>
  <h2>Encoding</h2>

  <div class="encoding-group">
    <a class="right small">Transpose</a>
    <h3>Positional</h3>
    <field-def-editor enc-type="'x'" field-def="spec.enc['x']"
                      field-def-schema="schema.properties.enc.properties['x']"></field-def-editor>
    <field-def-editor enc-type="'y'" field-def="spec.enc['y']"
                      field-def-schema="schema.properties.enc.properties['y']"></field-def-editor>
    <field-def-editor enc-type="'row'" field-def="spec.enc['row']"
                      field-def-schema="schema.properties.enc.properties['row']"></field-def-editor>
    <field-def-editor enc-type="'col'" field-def="spec.enc['col']"
                      field-def-schema="schema.properties.enc.properties['col']"></field-def-editor>
  </div>
  <div class="marks-group">
    <div class="right">
      <select class="markselect" ng-model="spec.marktype"
              ng-options="type for type in schema.properties.marktype.enum"></select>

    </div>
    <h3>Marks</h3>

    <field-def-editor enc-type="'size'" field-def="spec.enc['size']"
                      field-def-schema="schema.properties.enc.properties['size']"></field-def-editor>
    <field-def-editor enc-type="'color'" field-def="spec.enc['color']"
                      field-def-schema="schema.properties.enc.properties['color']"></field-def-editor>
    <field-def-editor enc-type="'alpha'" field-def="spec.enc['alpha']"
                      field-def-schema="schema.properties.enc.properties['alpha']"></field-def-editor>
    <field-def-editor enc-type="'shape'" field-def="spec.enc['shape']"
                      field-def-schema="schema.properties.enc.properties['shape']"></field-def-editor>
    <field-def-editor enc-type="'text'" field-def="spec.enc['text']"
                      field-def-schema="schema.properties.enc.properties['text']"></field-def-editor>
  </div>
</div>
