// FIXME should use normalize.scss version instead
// but I got some errors so I don't want to spend too much time here now.
@import "../assets/normalize.scss";

// injector
// endinjector

$fa-font-path: "../../bower_components/fontawesome/fonts";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
@import "../../bower_components/angular-tooltips/dist/angular-tooltips";


.top{
  z-index: 100;
}

/* prevent element from being selected http://stackoverflow.com/questions/826782 */
.noselect {
  user-select: none;
  cursor: default;
}

.voyager {
  background-color: #ECF1F7;
}

.voyager a {
  color: #38425D;
}

.voyager a:hover {
  color: #72757B;
}

h2 {
  @extend .noselect;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 15px;
}

#logo {
  height: 34px;
  flex-shrink: 0;
  margin-right: 40px; /* This margin further pushes the menu to the right */
}

.controls {
  margin-left: 33px;
  margin-top: 7px;
  & > a.command {
    font-size: 14px;
    margin-right: 40px;
  }
}

.idl-logo {
  background: url("../assets/images/idl-logo.png") center no-repeat;
  display: block;
  width: 48px;
  height: 34px;
}

#dataset-select {
  width: 120px;
}

.data-card {
  color: white;
  background-color: #38425D;
  h2,
  .current-dataset {
    display: inline-block;
  }
  .current-dataset {
    padding-left: 10px;
  }
  a:hover, a:focus {
    color: #ddd;
  }
  .small-button {
    display: inline-block;
    color: #555;
    background-color: #eee;
    border-radius: .25em;
    border: 1px solid #555;
    transition: color .3s, background-color .3s, border .3s;

    &:hover {
      background-color: #88888a;
      color: #eee;
    }
  }
}

.data-load {
  background-color: #30374A;
  padding:0;
  margin:0;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.pane.data-pane {
  width: 250px;
  flex-shrink: 0;
}

.relative{
  position: relative;
}

.pill {
  font-weight: bold;
}

.projection-header {
  background: #ddd;
}

.aggregate-header {
  background: #eee;
}

.pane.vis-list-pane {
  flex-grow: 1;
  overflow: hidden;
}

.field-set-info, .schema{
  margin-bottom: 10px;
}

#footer {
  position:absolute;
  bottom: 5px;
  left: 10px;

  ul.menu {
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      margin-bottom: 4px;
      padding: 0;
      display: inline-block;

      // Separate items with a dot
      &:after {
        color: #eee;
        content: '\000b7';
        padding: 0 3px;
      }
      &:last-of-type {
        &:after {
          content: none;
          padding-right: 0;
        }
      }
    }
  }
}

// Workaround for https://github.com/720kb/angular-tooltips/issues/95
._720kb-tooltip:not(._720kb-tooltip-open) {
  visibility: hidden !important;
}
