// FIXME should use normalize.scss version instead
// but I got some errors so I don't want to spend too much time here now.
@import "../assets/normalize.scss";
@import "../assets/vlui-common.scss";

// injector
// endinjector


$iron: #ccc;

.type-select {
  width: 60px;
}

.vgspec, .vlspec {
  min-height: 200px;
}

/** panes **/

.dev-panel {
  height: 300px;
  flex-shrink: 0;
}

.pane {
  padding: 0px;
}

.pane.data-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.encoding-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.vis-pane{
  flex-grow: 1;
}

.pane.vl-pane {
  flex-grow: 1;
}

.pane.vg-pane {
  flex-grow: 1.2;
}

#vis {
  @extend .persist-scroll;
  overflow: scroll;
}

/** shelves **/

.encoding-group {
  margin-bottom: 30px;
}

.shelf-group{
  border: 1px solid #ddd;
  border-radius: $pill-radius;
  margin-bottom: 5px;
}

.shelf-properties, .shelf-functions{
  padding: 5px;
  label.prop-label {
    display: inline-block;
    width: 40px;
    text-align: right;
    margin-right: 3px;
  }
}

.shelf{
  border-radius: $pill-radius;
  background-color: #ddd;
  width: 100%;
  display: flex;

  .shelf-label{
    @extend .noselect;
    display: block;
    width: 30px;
    margin: 0 0.5rem;
    line-height: $pill-height;
    cursor: pointer;
  }

  .field-drop {
    flex-grow: 1;
    width: auto;

    box-sizing: content-box;
    height: $pill-height;
    line-height: $pill-height;
    border: 1px solid $iron;
    .field {
      margin: 0;
    }
    .placeholder {
      display: block;
      padding: 0 0.5em;
      background-color: white;
      border-radius: $pill-radius;

      text-overflow: ellipsis;

      font-weight: normal;
      color: #aaa;
    }
  }

  .drop-active {
    border: 1px dashed #4CAF50;
    background-color: #C8E6C9;
    .placeholder {
      background-color: #C8E6C9;
      color: $text-color;
    }
    .field-pill {
      opacity: 0.5;
    }
  }

  .field-pill {
    flex-grow: 1;
  }
}