@import "../assets/normalize.scss";

// injector
// endinjector

$fa-font-path: "../../bower_components/fontawesome/fonts";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";

@import "../../bower_components/angular-tooltips/dist/_angular-tooltips.scss";

$iron: #ccc;

#logo {
  background: url("../assets/images/logo.png") center no-repeat;
  background-size: contain;
  display: block;
  width: 176px;
  height: 33px;
}

.type-select {
  width: 60px;
}

.vgspec, .vlspec {
  min-height: 100px;
}

.full-vl-plot-group {
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 300px;
  max-height: 600px;
}

#dataset-select {
  width: 90px;
}

null-filter-directive {
  display: block;
  margin-bottom: 10px;
}

/** panes **/

.pane.encoding-pane {
  width: 235px;
  flex-shrink: 0;
  .card {
    background-color: #E2E9F3;
  }
  h2, h3 {
    color: #38425D;
  }
}


.pane.data-pane {
  width: 200px;
  flex-shrink: 0;
}


.pane.vis-pane{
  flex-grow: 1;
  margin-top: 1px;
}

.vis-pane-container {
  display: flex;
  flex-direction: column;
}

.pane.config-pane {
  flex-grow: 0.6;
}

.pane.vl-pane {
  flex-grow: 1;
}

.pane.vg-pane {
  flex-grow: 1.2;
}

#vis {
  @extend .persist-scroll;
  overflow: scroll;
}
