// FIXME should use normalize.scss version instead
// but I got some errors so I don't want to spend too much time here now.
@import "../assets/normalize.scss";
@import "../assets/vlui-common.scss";

// injector
// endinjector

.top{
  z-index: 100;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.relative{
  position: relative;
}

.pill {
  font-weight: bold;
}

.projection-header {
  background: #ddd;
}

.aggregate-header {
  background: #eee;
}

.pane.vis-list-pane {
  flex-grow: 1;
}

vl-plot {
  background-color: white;
}

vis-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

vis-list .vis-list-item {
  @extend .persist-scroll;

  max-width: 520px;
  max-height: 250px;
  overflow: scroll;

  flex-grow: 1;
  display: flex;

  .field-name{
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

vis-list .encoding-variations {
  width: 100%;
  max-width: 100%;
  flex-grow: 1;

  margin: 3px 3px 0 0;
  padding: 8px;
  border: 2px solid #666;
  background-color: white;

  max-height: 500px;

  position: relative;

  .close {
    position: absolute;
    color: red;
    top: 10px;
    right: 10px;
  }
}
