.encoding-variations .variations {
  max-width: 350px;
}

.encoding-variations .modal-wrapper{
  overflow: hidden;
}

.encoding-variations .encoding-variations-main {
  display: flex;
}

.encoding-variations .wrapper {
  position: relative;
}
