<modal id="encoding-variations" class="encoding-variations">
  <div class="modal-header card no-top-margin no-right-margin">
    <modal-close-button></modal-close-button>
    <h2 class="no-bottom-margin">Various Visualizations Showing
      <field-info ng-repeat="fieldDef in Visrec.selectedFieldSet"
        field-def='fieldDef'
        show-type='true'
        class='selected'>
      </field-info>
      <span ng-if="consts.debug"
        tooltips tooltip-size="small"
        tooltip-content="{{_.pluck(selectedSubcluster, 'shorthand').join('<br/>')}}">
        <!-- (selected cluster size = {{selectedSubcluster.length}}) -->
      </span>
    </h2>
  </div>

  <div class="encoding-variations-main">
    <div class="selected-variation card grow-1">
      <vl-plot-group
        chart="selectedSubcluster[0]"
        disabled="!Visrec.selectedCluster"

        config-set="large"
        show-bookmark="true"
        show-debug="consts.debug && consts.debugInList"
        show-filter-null="true"
        show-log="true"
        show-mark-type="true"
        show-sort="true"
        show-transpose="true"
        show-label="true"
        always-scrollable="true"
        tooltip="true"

        priority="consts.priority.popup"

        class="scroll-xy no-top-margin"
      ></vl-plot-group>
    </div>
    <!--variation-list-->
    <div class="variations vflex" ng-if="Visrec.selectedCluster.length > 1">
      <vl-plot-group
        ng-repeat="subcluster in Visrec.selectedCluster"
        ng-class="{selected: selectedSubcluster == subcluster}"
        chart="subcluster[0]"
        disabled="!subcluster || !subcluster[0]"
        is-in-list="isInList"

        show-bookmark="true"
        rescale="true"
        thumbnail="true"
        max-width="300"
        ng-click="select(subcluster)"
        class="row-vl-plot-group clickable card no-right-margin"

        priority="consts.priority.popup + $index + 1"
      >
      </vl-plot-group>
    </div>
    <!--end of variation-list-->
  </div>
</modal>
