.field-customizer {
  background-color: #eee;
  border: 10px solid #eee;
  border-radius: 3px;
  margin: 5px;
  width: 220px;

  fieldset {
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  form {
    height: 1.8em;
  }

  label {
    display: inline-block;
    font-size: 10px !important; // cannot access react-form's css attributes, so have to use important
    padding-right: 10px;
    text-align: left;
    width: 55px !important;
  }

  ul {
    border-bottom: 1px solid #aaa;
    margin: 0 0;
    padding: 2px;
  }

  li {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 12px;
  }
}
