$radius: 3px;
@import './encoding-shelf.scss';

.filter-shelf {
  background-color: white;
  border-radius: $radius;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  max-height: 150px;
  overflow: scroll;

  :global .fa {
    &.fa-times {
      padding: 2px 3px 1px;
      border-radius: $radius;

      &:hover {
        color: #fff;
        background-color: #999;
      }
    }
  }
}

.time-unit-changer {
  padding: 5px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 300px;

  label {
    display: inline-block;
    width: 100px;
    font-size: 11px;
  }

  .close {
    position: absolute;
    right: 5px;
  }
}
