@import './range-component.scss';

.time-unit-changer {
  padding: 5px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 300px;

  label {
    display: inline-block;
    width: 100px;
    font-size: 11px;
  }

  .close {
    position: absolute;
    right: 5px;
  }
}

.time-unit {
  text-align: center;
}

:global .fa {
  &.fa-close, &.fa-caret-down {
    padding: 2px 3px 1px;
    border-radius: $radius;

    &:hover {
      color: #fff;
      background-color: #999;
    }
  }
}
