$pill-radius: 3px;
$pill-height: 20px;
$pill-min-width: 150px;

$text-color: #212121;

html {
  height: 100%;
}

body{
  width:100%;
  height:100%;
  overflow: hidden;
  margin: 0;
  background-color: #eee;
  font-size: 12px;
  line-height: 18px;
}

a:hover, a:focus {
  color: #125369;
}
a:hover {
  cursor: pointer;
}
a:active, a:hover {
outline: 0;
}
a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit;
}

.italic {
  font-style: italic;
}

a.debug {
  color: #ccc;
  // &:hover, &:focus{
  //   color: #174225;
  // }
}

textarea {
  width: 100%;
}

.right {
  float:right;
}

.card {
  margin: 3px 3px 0 0;
  padding: 8px;
  background: white;
  border-style: none;
  &.margin-bottom {
    margin-bottom: 3px
  }
}

.no-right-margin {
  margin-right: 0;
}

.no-top-margin {
  margin-top:0;
}

.no-left-margin {
  margin-left: 0;
}

.no-bottom-margin {
  margin-bottom:0;
}

h1 {
  @extend .noselect;
  font-size: 24px;
  line-height:36px;
  font-weight: 700;
  margin: 0;
}

h2 {
  @extend .noselect;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 15px;
}

h3 {
  @extend .noselect;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 10px;
}

h4 {
  @extend .noselect;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0;
}


.flex-root{
  overflow: scroll;
}

/* PANES */

.pane {
  padding: 0px;
  position: relative;
}

.pane.data-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.vis-pane{
  flex-grow: 1;
}

.pane .subpane {
  margin-bottom: 20px;
}

.pane .subpane:last-child {
  margin-bottom: 0px;
}

.main-panel {
  min-height: 250px;
  height: 450px;
  flex-grow: 1.5;
}

.dev-panel {
  min-height: 150px;
  height: 300px;
  flex-grow: 0.5;
}

.alert-box {
  z-index: 1;
  position: absolute;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
}

.alert-item {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow-wrap: break-word;

  a.close {
    float: right;
    color: #a94442;
    font-weight: bold;
  }
}

/* UTILITIES */

.mb5{
  margin-bottom: 5px;
}


.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.full-height {
  height: 100%;
}

.inline-label {
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.grow-1{
  flex-grow:1;
}

.hflex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.vflex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.abs-w100 {
  position: absolute;
  left: 0;
  right: 0;
}

.abs-h100 {
  position: absolute;
  top: 0;
  bottom: 0;
}

.abs-100 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.persist-scroll{
  /*
    Prevent scroll bars from being hidden for OS X.
    http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webkit
  */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

.scroll-y{
  @extend .persist-scroll;
  overflow-y: scroll;
}

.scroll-x{
  @extend .persist-scroll;
  overflow-x: scroll;
}

.scroll-xy{
  @extend .persist-scroll;
  overflow-y: scroll;
  overflow-x: scroll;
}

.small {
  font-size: 10px;
}

.command {
  margin-left: 10px;
}

/* prevent element from being selected http://stackoverflow.com/questions/826782 */
.noselect {
  user-select: none;
}

/** ICONS FOR DATA TYPES */

.icon-type{
  @extend .inline-block;
  width: 20px;
  height: 16px;
  color: transparent;
  background-position: center center;

  &.icon-small {
    width: 18px;
    height: 16px;
  }
}

.icon-type-location{
  @extend .icon-type;
  background: url("../assets/images/field_geo.png") no-repeat;
}

.icon-type-text{
  @extend .icon-type;
  background: url("../assets/images/field_text.png") no-repeat;
}

.icon-type-number{
  @extend .icon-type;
  background: url("../assets/images/field_number.png") no-repeat;
  background-position-x: -1px;
}

.icon-type-time{
  @extend .icon-type;
  background: url("../assets/images/field_time.png") no-repeat;
  background-position-y: 1px;
  &.icon-small {
    background-position-y: 0px;
  }
}

/**** FIELD & FIELD-PILLS ****/

.field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $pill-height;
  line-height: $pill-height;
  margin-bottom: 3px;

  .type{
    font-size: 0.8rem;
    margin-right: 3px;
    flex-shrink: 0;
  }
  .field-pill{
    flex-grow: 1;
  }
}

$pill-bg-color: #eee;

/* draggable component of the field */
.field-pill {
  @extend .noselect;
  display: flex;

  background-color: $pill-bg-color;
  color: $text-color;
  margin: 0;
  text-decoration: none;
  padding: 0 0.5em;

  border-radius: 3px;
  height: $pill-height;
  line-height: $pill-height;

  cursor: default;

  .field-name{
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  .dragging{
    min-width: $pill-min-width;
  }

  .remove-field {
    flex-grow: 0;
  }

  .caret {
    flex-grow: 0;
    margin: auto 0;
  }
}

.field-func{
  text-transform: uppercase;
  font-weight: bold;
}

.draggable {
  cursor: move;
}
