<div class="modal" ng-show="active">
  <div class="wrapper">
    <div class="vflex full-width full-height" id="evs"
      ng-if="active"
      >
      <div class="modal-header no-shrink card no-top-margin no-right-margin">
        <div class="right">
          <a ng-click="deactivate()" class="right">Close</a>
        </div>
        <h2 class="no-bottom-margin">Bookmarks ({{ Bookmarks.length }})</h2>
        <a ng-click="Bookmarks.clear()"><i class="fa fa-trash-o"></i> Clear all</a>
      </div>
      <div class="flex-grow-1 scroll-y">
        <div ng-if="Bookmarks.length > 0"
            class="vis-list hflex flex-wrap">
          <vl-plot-group
            ng-repeat="chart in Bookmarks.dict | orderObjectBy : 'timeAdded' : false"
            class="wrapped-vl-plot-group"

            chart="chart"
            field-set="chart.fieldSet"

            show-bookmark="true"
            show-debug="consts.debug"
            show-expand="false"

            always-selected="true"
            highlighted="highlighted"
            ng-mouseover="(highlighted||{})[field.name] = true"
            ng-mouseout="(highlighted||{})[field.name] = false"

            overflow="true"
            tooltip="true"
          ></vl-plot-group>
        </div>
        <div class="vis-list-empty" ng-if="Bookmarks.length === 0">
          You have no bookmarks
        </div>
      </div>
    </div>
  </div>
</div>