<div class="modal" ng-show="active">
  <div class="wrapper">
    <div class="vflex full-width full-height" id="evs"
      ng-if="active"
      >
      <div class="modal-header no-shrink card no-top-margin no-right-margin">
        <div class="right">
          <a href="#" ng-click="deactivate()" class="right">Close</a>
        </div>
        <h2 class="no-bottom-margin">Bookmarks</h3>
      </div>
      <div class="flex-grow-1 scroll-y">
        <div ng-if="Bookmarks.list.length > 0"
            class="vis-list hflex flex-wrap">
          <vis-list-item
            ng-repeat="shorthand in Bookmarks.list"
            ng-init="chart = Bookmarks.dict[shorthand]"
            field-set="chart.fieldSet"
            chart="chart"
            is-selected="Fields.isSelected"
            highlighted="highlighted"
            ng-mouseover="(highlighted||{})[field.name] = true"
            ng-mouseout="(highlighted||{})[field.name] = false"
            show-expand="false"
          ></vis-list-item>
        </div>
        <div class="vis-list-empty" ng-if="Bookmarks.list.length ===0">
          The bookmark is empty
        </div>
      </div>
    </div>
  </div>
</div>