<h1>Welcome to Data Voyager</h1>
<div class="content">
  <div class="description">
    <p>Data Voyager allows you to discover data insights by providing you visualization recommendations with your data. Get started by exploring the loaded sample data about cars. Select fields that might be interesting in the panel to your left and check out the resulting recommendations.</p>
    <p>Once you’ve explored the sample sets, try <a ng-click="showDatasetModal()">loading your own data</a>.</p>
  </div>
  <a href ng-click="showTutorial()" class="big-button">I want to learn more</a> <a href ng-click="closeModal()" class="right big-button">Ok, got it!</a>
</div>
