<div class="card scroll-y abs-100 vflex">
  <div class="subpane no-shrink">
    <a ng-click="parseShorthand(Spec.chart.shorthand)" class="right command">Load</a>
    <div class="right command">
      <a ui-zeroclip zeroclip-model="Spec.chart.shorthand">Copy</a>
    </div>

    <h3>Vega-Lite Shorthand</h3>
    <input class="shorthand full-width" type="text" ng-model="Spec.chart.shorthand"></input>
  </div>

  <div class="subpane flex-grow-1 vflex">
    <div>
      <a ng-click="parseVegalite(Spec.chart.vlSpec)" class="right command">Load</a>
      <div class="right command">
        <a ui-zeroclip zeroclip-model="Spec.chart.cleanSpec | compactJSON">Copy</a>
      </div>
      <h3>Vega-Lite Encoding</h3>
    </div>
    <textarea class="vlspec flex-grow-1 full-height" json-input type="text" ng-model="Spec.chart.cleanSpec"></textarea>
  </div>
</div>