<div class="left field-drop" ng-model="field.name" data-drop="true" jqyoui-droppable="{onDrop:'fieldDropped'}" data-jqyoui-options="{activeClass: 'drop-active'}">
  <div class="field" ng-if="field.name" ng-model="field.name">{{ field.name }}
    <a href="#" class="remove-field" ng-click="removeField()">×</a>
  </div>
  <span class="placeholder" ng-if="!field.name">drop a field here</span>
</div>

<form>
  <select ng-if="field.name" class="type-select" ng-model="field.type" ng-options="type for type in types track by type"></select>
</form>
