<div class="schema">
  <div class="field"
       ng-repeat="field in schema"
       ng-init="fieldType = stats[field].type;">
    <div class="type">
      {{fieldType}}
    </div>
    <div class="field-pill draggable"
         ng-model="field"
         data-drag="true"
         jqyoui-draggable="{placeholder: 'keep', onStart: 'fieldDragStart', onStop: 'fieldDragStop'}"
         data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
      <span class="field-name">{{ field }}</span>
    </div>
  </div>
</div>
