<div class="schema">
  <div class="field"
       ng-repeat="field in schema"
       ng-init="fieldType = stats[field].type; fieldDef = {name:field, type: fieldType};">
    <div class="type icon-type-{{fieldType}}">
      {{fieldType}}
    </div>
    <div class="field-pill draggable"
         ng-model="fieldDef"
         data-drag="true"
         jqyoui-draggable="{placeholder: 'keep', onStart: 'fieldDragStart'}"
         data-jqyoui-options="{revert: 'invalid', helper: 'clone'}">
      <span class="field-name">{{ field }}</span>
    </div>
  </div>
</div>
