<div class="card">
  <div id="vis"></div>
</div>

<div class="card">
  <form>
    <input type="text" ng-model="shorthand"></input>
    <button type="submit" ng-click="parseShorthand(shorthand)" value="Save">Load</button>
  </form>
  <accordion close-others="false">
    <accordion-group>
      <accordion-heading>
        Vegalite specification <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
      </accordion-heading>
      <textarea msd-elastic json-input type="text" ng-model="vlSpec"></textarea>
    </accordion-group>
    <accordion-group>
      <accordion-heading>
        Vega specification <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
      </accordion-heading>
      <textarea msd-elastic json-input disabled="disabled" type="text" ng-model="vegaSpec"></textarea>
    </accordion-group>
  </accordion>
</div>
